@media screen and (max-width:1400px) {
    #profile{
        height:83vh;
        margin-bottom: 6rem;
    }
    .about_containers{
        flex-wrap: wrap;
    }
    #hamburger_nav{
        display: flex;
    }
    
}
    

@media screen and (max-width:1200px) {
    #desktop_nav{
        display:none;
    }
    #hamburger_nav{
        display: flex;
    }
    #experience,.experience_details_container{
        margin-top: 2rem;
    }
    #profile,.section_pic-container{
        display: flex;
        flex-direction: column;
    }
    .section_pic-container{
        
        margin:0 5%;
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: -20px;
        
       max-width: 300px;
       clip-path: circle(40%);
    }
   
       .text_container{
        
        margin:0 5%;

       }
    
    .icon_arrow4,.icon_arrow2,.icon_arrow3{
        display: none;
    }
    section,.text_container,.section_pic-container,
    .section_container,.experience_details_container
    
    {
     height: fit-content;
    }
    .contact_info_upper-container{
        margin-left: 150px;
    }
    .section_text_p1,.section_text_p2,.section_container,.IT{
        justify-content: center;
        margin-right: -100px;
               
    }
    
    
    .about_containers{
        margin-right: 10px;
    }
    .networking-container{
        margin-right: -10px;

    }
    .btn_container,#socials_container {
        margin-left: 100px;
    }
    .Details_containers1{
        margin-left: 100px;
        
}
.project_container{
    margin-left: 100px;
}
.email{
    margin-left: 150px;
}

.container {
    
    flex-direction: column;
    text-align: center;
    width: 150%;
    margin-top: -20px;
    
    
    
  }

  .copyright,
  .designed-by,
  .social-icons {
    order: initial;
    margin-right: 70px;
  }

  .social-icons button {
    margin: 5px;
  }
  #hamburger_nav{
    margin-right: -200px;
  }
  .btn_container{
    margin-right: 90px;
  }
   
}




    
  